:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#grid-container {
  display: grid;
  text-align: center;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  width: 40%;
  align-self: center;
}

.grid-item {
  border: 1px solid #ddd;
  padding-bottom: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}